.container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}


.calculator-grid{
    background-color: #202020;
    aspect-ratio: 3/4;
    width: auto;
    height: 80vh;
    border-radius: 30px;
    border: solid 5px #b8bab9;
    box-shadow: 3px 3px 5px #383838;
}


@media screen  and (max-width: 1200px){
 .calculator-grid{
    width: 80vw;
    height: auto;
}
}    