.container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}


.calculator-grid{
    background-color: greenyellow;
    aspect-ratio: 3/4;
    width: auto;
    height: 80vh;
}


@media screen  and (max-width: 1200px){
 .calculator-grid{
    width: 80vw;
    height: auto;
    aspect-ratio: 3/4;
    
}
}    